[submodule "TheGlassTower/Dependencies"]
	path = TheGlassTower/Dependencies
	url = git@bitbucket.org:theglasstower/contentheglasstower.git
[submodule "TheGlassTower/src/_ThirdParty/aws-sdk-cpp"]
	path = TheGlassTower/src/_ThirdParty/aws-sdk-cpp
	url = git@github.com:aws/aws-sdk-cpp.git
